body {
    display:flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 940px;
}

#newGridBtn {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 8px 12px;
    margin: 4px 0px;
    cursor: pointer;
    max-width: 940px;
}

.generatedDivs {
    display: flex;
}

.tiles {
    flex: 1 1 auto;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

.paintedTile {
   opacity: .1;
}