#container {
    display: flex;
    flex-wrap: wrap;
}

#newGridBtn {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 8px 12px;
    margin: 4px 0px;
    cursor: pointer;
}

/* 100(the percentage of current screen size) / 16(default
tiles per row) is 6.25(round down for each tile size to fit
desired tiles per row. */
.tiles {
    flex: 0 0 6%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}
.customTiles {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}
.paintedTile {
    background-color: black;
}