#container {
    display: flex;
    flex-wrap: wrap;

}

/* 100(the percentage of current screen size) / 16(default
tiles per row) is 6.25(round down for each tile size to fit
desired tiles per row. */
.tiles {
    flex: 0 0 6%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

.paintedTile {
    background-color: black;
}